<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Contacts</h1>
    <p>This page provides contacts.</p>
    <table>
  <thead>
    <tr>
      <th>Address 1</th>
      <th>Address 2</th>
    </tr>
  </thead>
  <tbody>
  <tr>
        <td>Underground station 1</td>
        <td>Underground station 2</td>
  </tr>
    <tr>
        <td>Phone number 1</td>
        <td>Phone number 2</td>
    </tr>
    <tr>
        <td>Time work 1</td>
        <td>Time work 1</td>
    </tr>
  </tbody>
</table>

    <img src="https://masterpiecer-images.s3.yandex.net/5fd531dca6427c7:upscaled" alt="cat" width="300px">
</body>
</html>